section{
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}
section div{
  width: 50%

}
.sectionmain{
  width: 1200px; margin: 0 auto;
}
section p{
    margin-top: 8px;
     font-family: 'PT Sans Caption',
     sans-serif;
     font-size: 22px;
     line-height: 32px;
     color: rgba(0,0,0,.4);
}
